body{
    background-color: silver;
}

#header{
    background-color: black;
    padding: 20px;
}

#header a{
    color: white;
}

#content{
    background-color: white;
    padding: 20px;
}

#footer{
    background-color: darkred;
    color: white;
    padding: 20px;
}

